body {
    background: url("img/homePageImage.jpg");
    background-size: cover;
    background-position: center; 
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: black;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}


.title{
    color:white;
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.formHr{
    width:1200px;
}

.content{
    background: rgba(255, 255, 255, 0.54);
    /*background: white;*/
    padding-right: 2%;
    padding-left:2%;
    padding-bottom: 2%;
    text-align: justify;
    color:black;
    margin-top: 10%;
    margin-left:10%;
    margin-right: 10%
}
.about{
    width:80%;
    margin: auto;
}

.login,.search{
    margin-top: 10%;
    margin-left:10%;
    margin-right: 10%
}

.btn-login,
.btn-register{
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus,
.btn-register:hover,
.btn-register:focus{
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

.form{
    background:white;
    /*background: white;*/
    padding-right: 2%;
    padding-left:2%;
    padding-bottom: 2%;
    text-align: justify;
    color:black;
    margin-top: 10%;
    margin-left:10%;
    margin-right: 10%
}

